.Navbar{
    .navbar{
        position: relative;
        display: inline-block;
        padding: 8px 38px;
        background: #111;
        color: #ececec;
        font-family: "Montserrat", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-size: 0.9em;
        line-height: 1.8em;
        border-radius: 0;
        -webkit-transition: all 0.5s;
                transition: all 0.5s;
    }
}